/* My css for the website */

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr;
    grid-template-areas:
        "nav nav nav nav"
        "sidebar main main main"
        "sidebar content1 content2 content3"
        "sidebar footer footer footer";
    column-gap: 0.2rem;
    row-gap: 0.2rem;
}

nav {
    background: blue;
    grid-area: nav;
}

main {
    background: lightblue;
    grid-area: main;
}

#sidebar {
    background: red;
    grid-area: sidebar;
}

#content1 {
    background: violet;
    grid-area: content1;
}

#content2 {
    background: orange;
    grid-area: content2;
}

#content3 {
    background: orangered;
    grid-area: content3;
}

footer {
    background: grey;
    grid-area: footer;
}

@media only screen and (max-width: 550px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
        grid-template-areas:
            "nav"
            "sidebar"
            "main"
            "content1"
            "content2"
            "content3"
            "footer";
    }
}